@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

:root{
    --primary-color: rgb(239,246,224,0.7) ;
    --secondary-color: rgb(138,162,158,0.7);
    --accent1-color: #73B260;
    --accent2-color: #000000;

    --heading-font: Roboto, serif;
    --paragraph-font: Arial, serif;
    
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    width: 95%;
}

h1{
    font: var(--heading-font);
    font-size: 500%;
    color: blue;
    
}

p{
    font: var(--paragraph-font);
    font-size: 120%;
    margin: 0;
}

h2{
    font: var(--heading-font);
    font-size: 180%;
    color: blue;
    text-align: center; 
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
    padding:0.1rem;
}

.subh img{
    display:block;
    width: 100%;
    height: auto;
    padding: 2.0rem;
}

.hero article{
    background-color: var(--secondary-color);
    position:absolute;
    top:600px;
    left: 750px;
    padding: 0.5rem;

    
}

.hero h1{
    position:absolute;
    top:255px;
    right: 850px;
    background-color: var(--primary-color);
    

}

header img{
    width: 10%;
    height: auto;
    padding: 5px; 
}

.hero article img{
    float: right;
    width: 25%;
    height: auto;
    
}

a:link{
    color: black;
    text-decoration: none;
}

.flex-container {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.flex-container img{
    width: 95%;
    height: auto;
}

.flex-container figcaption{
    text-align:center;
    font-size: 14px;
}

.histo p{
    padding:30px;
}

footer p{
    width: 95%;
    text-align:center;
}

footer {
    border-top: 1px solid black;
    text-align: right;
    background-color: var(--primary-color);
}

header{
    display:grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    padding:0.5px;
    background-color: var(--primary-color);
    font: var(--heading-font);
    font-size: 120%;
    border: 2px solid black;
    
}

.navigation{
    display: flex; 
    justify-content: space-around;
    width: 60%; 
}
