@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

:root{
--primary-color: #EFF6E0;
--secondary-color: #8AA29E;
--accent1-color: #73B260;
--accent2-color: #000000;

--heading-font: Roboto, serif;
--paragraph-font: Arial, serif;

--nav-background-color: #f1c232;
--nav-link-color: #990000;
--nav-hover-link-color: #FFD966;
--nav-hover-background-color: #1485EA;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--accent1-color)
}

header{
    padding: 20px;
    background-color: var(--secondary-color);
}

p{
    padding: 25px;
}

nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a{
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
    

