nav, footer {
    background-color: steelblue;
    color: white;
    padding: 10px;
}
footer p {
    font-size: 15px;
    margin: 20px auto;
    padding: 50px;
}
a:hover {
    background-color: white;
    color: steelblue;
}
h1 {
    margin: 100 px 0;
}
img {
    border: 10px solid steelblue;
}