* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    background-color: steelblue;
    padding: 1rem;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    font-size: 1.0rem;
    font-weight: 400;
}

nav a:link{
    text-decoration: none;
}

h1 {
    color: steelblue;
    border-bottom: solid steelblue;
}

main img{
    width: 100px;
    height: 150px;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;    
}

main p {
    padding: 10px;
    width: 30em;        
}


aside{
    width: 15em;
    text-align: center;
}

aside img{
    width: 200px;
    height: auto;    
}


footer{
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */

.box{
    margin: 1rem;
    border: 1px solid rgba(0,0,0,.1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

main img{
    float: right;
}

ul{
    width: 30em;
    text-align: left;  
}

aside h2{
    position:relative;
    top: 30px;
    left: 2px;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid{
    display:grid;
    align-items: center;
}

main{
    grid-column: 2/3;
    margin: 1rem;
}

aside{
    witdh: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}